/*
 * style.css
 */


/*
Brown #62260c
Beige #bfa67d
White
*/


body {
    color: #fff;
    background-color: #62260c; /*brown*/
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 2vw;
}

.center {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 5vw;
}

h2 {
    padding: 1vw;
    font-size: 3vw;
    text-align: center;
}

.menu {
    display: flex;
    justify-content: center;
    padding: 3vw;
}

.menuitem {
    font-size: 3vw;
    padding-left: 3vw;
    padding-right: 3vw;
}

b {
    color: #bfa67d; /*beige*/
}

a {
    color: #fff;
    text-decoration: none;
}

a.selected, a:hover {
    /*text-decoration: underline;*/
    color: #bfa67d; /*beige*/
}

a.inline_text {
    text-decoration: underline;
}

p, ul {
    padding-left: 15%;
    padding-right: 15%;
}

.synopsis {
    text-align: left;
}

.footer {
    display: flex;
}


.footer_left{
    width: 30%;
    margin-left: 2%;
    border-style: none;
    padding: .5vw;
}

.footer_center{
    width: 45%;
    border-style: none;
    padding: .5vw;
}

.footer_right {
    width: 25%;
    margin-right: 2%;
    border-style: none;
    padding: .5vw;
}

.button {
    border-style: solid;
    padding: 4vw;
    margin: 4vw;
    text-align: center;
}

img.button {
    border-style: solid;
    padding: 1vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.headshot {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw;
}

.headshot img {
    height: 20vw;
}

.headshot p {
    text-align: center;
}

.headshot_row {
    display: flex;
    margin: auto;
}

.headshot_row_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


button {
    color: #fff;
    background-color: #62260c; /*brown*/
    border-style: solid;
    border-color: #fff;
    padding: 1vw;
    font-size: 2vw;
}

button:hover {
    color: #bfa67d; /*beige*/
    border-color: #bfa67d; /*beige*/
}

hr {
    border-color: #bfa67d; /*beige*/
}


